<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <mate charset="UTF-8"></mate>
  <mate name="viewport" content="width=device-width, initial-scale=1.0"></mate>
  <mate http-equiv="X-UA-Compatible" content="ie=edge"></mate>
  <title>Document</title>
  <%- style %>
</head>
<body>
  <%- appString %>

  <%- scripts%>
</body>
</html>
